@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.border-none {
  border-style: none;
}

.bg-\[color1\] {
  background-color: color1;
}

.bg-dark-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 48 81 / var(--tw-bg-opacity));
}

.bg-dark-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(12 39 70 / var(--tw-bg-opacity));
}

.bg-light-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(56 128 255 / var(--tw-bg-opacity));
}
